Source: ubuntu-enhanced
Section: misc
Priority: optional
Maintainer: Rob Savoury <savoury@savos.tech>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/savoury1/ubuntu-rolling

Package: ubuntu-enhanced
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: xenial-enhanced
Replaces: xenial-enhanced
Description: Ubuntu Enhanced (includes apt-all)
 Note that this is experimental software.
 .
 *** WARNING: EXPERIMENTAL SOFTWARE ***
 .
 *** WARNING: EXPERIMENTAL SOFTWARE ***
 .
 *** WARNING: EXPERIMENTAL SOFTWARE ***
 .
 Adds access to repositories for 16 other Ubuntu series to /etc/apt config
 (with pref files used for pinning created in /etc/apt/preferences.d and list
 files used to give access to newer repositories in /etc/apt/sources.list.d).
 .
 The default configuration is one with low pin priority (50) for all the other
 Ubuntu series. Only during invocation of apt-all is a high pin priority (990)
 set for one user specified series other than the currently installed series.
 .
 So apt-all (making use of the usual "sudo apt-get install" command) gives the
 user easy access to packages from any of 17 Ubuntu series (Xenial, Bionic,
 Cosmic, Disco, Eoan, Focal, Groovy, Hirsute, Impish, Jammy, Kinetic, Lunar,
 Mantic, Noble, Oracular, Plucky, or Questing).
 REMINDER: DO BE CAREFUL!!!
 .
 Also enhances other commands most especially apt-cache, as running "apt-cache
 policy PACKAGE(S)" will show all versions of the specified package(s) that are
 currently available in the 17 Ubuntu series (and all of their "pockets").
 .
 See homepage for details:
 .
 https://github.com/savoury1/ubuntu-rolling
